<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="qdu.graduation.backend.dao.HomeworkDao">
    <resultMap id="BaseResultMap" type="qdu.graduation.backend.entity.Homework">
        <id column="homework_id" jdbcType="INTEGER" property="homeworkId"/>
        <result column="questions_id" jdbcType="VARCHAR" property="questionsId"/>
        <result column="full_score" jdbcType="INTEGER" property="fullScore"/>
        <result column="create_time" jdbcType="DATE" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    homework_id, questions_id, full_score, create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from homework
        where homework_id = #{homeworkId,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from homework
    where homework_id = #{homeworkId,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="qdu.graduation.backend.entity.Homework">
    insert into homework (homework_id, questions_id, full_score, 
      create_time)
    values (#{homeworkId,jdbcType=INTEGER}, #{questionsId,jdbcType=VARCHAR}, #{fullScore,jdbcType=INTEGER}, 
      #{createTime,jdbcType=DATE})
  </insert>
    <insert id="insertSelective" parameterType="qdu.graduation.backend.entity.Homework">
        insert into homework
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="homeworkId != null">
                homework_id,
            </if>
            <if test="questionsId != null">
                questions_id,
            </if>
            <if test="fullScore != null">
                full_score,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="homeworkId != null">
                #{homeworkId,jdbcType=INTEGER},
            </if>
            <if test="questionsId != null">
                #{questionsId,jdbcType=VARCHAR},
            </if>
            <if test="fullScore != null">
                #{fullScore,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=DATE},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="qdu.graduation.backend.entity.Homework">
        update homework
        <set>
            <if test="questionsId != null">
                questions_id = #{questionsId,jdbcType=VARCHAR},
            </if>
            <if test="fullScore != null">
                full_score = #{fullScore,jdbcType=INTEGER},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=DATE},
            </if>
        </set>
        where homework_id = #{homeworkId,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="qdu.graduation.backend.entity.Homework">
    update homework
    set questions_id = #{questionsId,jdbcType=VARCHAR},
      full_score = #{fullScore,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=DATE}
    where homework_id = #{homeworkId,jdbcType=INTEGER}
  </update>

    <select id="selectAllHomework" resultMap="BaseResultMap">
    select * from homework
  </select>
</mapper>